{% load humanize %}

<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-6">
						<p><strong>Código catastral:</strong> {{ predio.c_catastral }}</p>
						<p><strong>Dirección del predio:</strong> {{ predio.dir_predio }}</p>
						<p><strong>Hectárea:</strong> {{ predio.hectarea }}</p>
						<p><strong>Metro<sup>2</sup>:</strong> {{ predio.met2 }}</p>
						<p><strong>Área Construida:</strong> {{ predio.area_con }}</p>
					</div>
					<div class="col-md-6">
						<p><strong>ORD:</strong> {{ predio.t_ord }}</p>
						<p><strong>TOT:</strong> {{ predio.t_tot }}</p>
						<p><strong>E:</strong> {{ predio.e }}</p>
						<p><strong>D:</strong> {{ predio.d }}</p>
						<p><strong>Avalúo catastral:</strong> $ {{ predio.avaluo_catastral|floatformat|intcomma }}</p>
					</div>
				</div>
				<div class="col-md-12">
					{% if predio.c_recaja %}
						<div class="col-md-6">
							<p><strong>Propietario Actual:</strong> {{ predio.id_propieta_fin.name }}</p>
							<p><strong>Código recibo de caja:</strong> {{ predio.c_recaja }}</p>
						</div>
						<div class="col-md-6">
							<p><strong>Fecha de recibo de caja:</strong> {{ predio.f_recaja }}</p>
							<p><strong>Valor de recibo de caja:</strong> $ {{ predio.v_recaja|floatformat|intcomma }}</p>
						</div>
					{% else %}
						<div class="col-md-6">
							<p><strong>Identificación del Propietario:</strong> {{ predio.id_propietario|intcomma }}</p>
						</div>
						<div class="col-md-6">
							<p><strong>Nombre del propietario:</strong> {{ predio.propieta }}</p>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		</div>
	</div>
</div>